{% extends 'firebase/auth/base.html' %}

{% block title %} Email & Password Authentication {% endblock title %}

{% block content %}
<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">

  <!-- Container for the demo -->
  <div id="sign-in-card"
    class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
    <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
      <h2 class="mdl-card__title-text">Email &amp; Password Authentication</h2>
    </div>
    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
      <p>Enter an email and password below and either sign in to an existing account or sign up to create a new account.
      </p>

      <form id="sign-in-form" onsubmit="return false">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="email" name="email">
          <label class="mdl-textfield__label" for="verification-code">Email</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="password" name="password">
          <label class="mdl-textfield__label" for="password">Password</label>
        </div>
        <br>
        <button disabled class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect"
          id="sign-in" name="signin">
          <i class="material-icons">login</i>
          Sign In
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect" id="sign-up"
          name="signup">
          <i class="material-icons">add_task</i>
          Sign Up
        </button>

      </form>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect"
        id="sign-out-button" name="signout">
        <i class="material-icons">logout</i>
        Sign Out
      </button>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect" id="verify-email" name="verify-email">
        <i class="material-icons">mail_lock</i>
        Send Email Verification
      </button>
      &nbsp;
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect" id="password-reset" name="password-reset">
        <i class="material-icons">lock_reset</i>
        Send Password Reset Email
      </button>
    </div>
  </div>

  <!-- Container for the sign in status and user info -->
  <div
    class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop user-details-container">
    <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
      <h2 class="mdl-card__title-text">User Status</h2>
    </div>
    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
      <!-- Container where we'll display the user details -->
      <div class="user-details-container">
        Firebase sign-in status: <span id="sign-in-status" style="font-weight: bold;">Unknown</span>
        <div>Firebase auth <code>currentUser</code> object value:</div>
        <pre><code id="account-details">
          <div class="mdl-spinner mdl-js-spinner is-active"></div>
        </code></pre>
        <br />

        <button class="mdl-button mdl-js-button mdl-js-ripple-effect" id="user-object-button">
          <i class="material-icons">code</i>
          Copy User Object
        </button>
      </div>
    </div>
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-js-button mdl-button--icon white-font" id="refresh-button"
        onclick="window.location.reload()">
        <i class="material-icons">refresh</i>
      </button>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <button class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect mdl-button--raised white-font"
        id="copy-accessToken-button">
        <i class="material-icons">copy_all</i>
        Copy Access Token
      </button>
      &nbsp;
      <button class="mdl-button mdl-js-button mdl-button--accent mdl-js-ripple-effect mdl-button--raised white-font"
        id="copy-refreshToken-button">
        <i class="material-icons">autorenew</i>
        Copy Refresh Token
      </button>
      &nbsp;
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised" id="copy-apiKey-button">
        <i class="material-icons">api</i>
        Copy API Key
      </button>
    </div>
  </div>
</div>
{% endblock content %}


{% block headScript %}
<script type="text/javascript">
  /**
   * Handles the sign in button press.
   */
  function toggleSignIn() {
    updateProgressBar("block");
    // if (firebase.auth().currentUser) {
    //   // [START signout]
    //   firebase.auth().signOut();
    //   localStorage.removeItem("user_account_details");
    //   // [END signout]
    // } else {
    var email = document.getElementById('email').value;
    var password = document.getElementById('password').value;
    if (email.length < 4) {
      alert('Please enter an email address.');
      updateProgressBar();
      return;
    }
    if (password.length < 4) {
      alert('Please enter a password.');
      updateProgressBar();
      return;
    }
    // Sign in with email and pass.
    // [START authwithemail]
    firebase.auth().signInWithEmailAndPassword(email, password).catch(function (error) {
      // Handle Errors here.
      var errorCode = error.code;
      var errorMessage = error.message;
      // [START_EXCLUDE]
      if (errorCode === 'auth/wrong-password') {
        alert('Wrong password.');
      } else {
        alert(errorMessage);
      }
      console.log(error);
      document.getElementById('sign-in').disabled = false;
      // [END_EXCLUDE]
    }).finally(() => {
      updateProgressBar();
    });
    // [END authwithemail]
    // }
    // document.getElementById('sign-in').disabled = true;
    updateSignInFormUI();
  }

  /**
   * Handles the sign up button press.
   */
  function handleSignUp() {
    updateProgressBar("block");
    var email = document.getElementById('email').value;
    var password = document.getElementById('password').value;
    if (email.length < 4) {
      alert('Please enter an email address.');
      updateProgressBar();
      return;
    }
    if (password.length < 4) {
      alert('Please enter a password.');
      updateProgressBar();
      return;
    }
    // Create user with email and pass.
    // [START createwithemail]
    firebase.auth().createUserWithEmailAndPassword(email, password).catch(function (error) {
      // Handle Errors here.
      var errorCode = error.code;
      var errorMessage = error.message;
      // [START_EXCLUDE]
      if (errorCode == 'auth/weak-password') {
        alert('The password is too weak.');
      } else {
        alert(errorMessage);
      }
      console.log(error);
      // [END_EXCLUDE]
    }).finally(() => {
      updateProgressBar();
    });
    // [END createwithemail]
    updateSignInFormUI();
  }

  /**
   * Sends an email verification to the user.
   */
  function sendEmailVerification() {
    updateProgressBar("block");
    // [START sendemailverification]
    firebase.auth().currentUser.sendEmailVerification().then(function () {
      // Email Verification sent!
      // [START_EXCLUDE]
      alert('Email Verification Sent!');
      // [END_EXCLUDE]
    }).catch(function (error) {
      // Handle Errors here.
      var errorCode = error.code;
      var errorMessage = error.message;
      // [START_EXCLUDE]
      if (errorCode == 'auth/invalid-email') {
        alert(errorMessage);
      } else if (errorCode == 'auth/user-not-found') {
        alert(errorMessage);
      } else if (errorCode == 'auth/internal-error') {
        alert(JSON.parse(errorMessage).error.message)
      }
      console.log(error);
      // [END_EXCLUDE]
    }).finally(() => {
      updateProgressBar();
    });
    // [END sendemailverification]
  }

  function sendPasswordReset() {
    updateProgressBar("block");
    var email = document.getElementById('email').value;
    // [START sendpasswordemail]
    firebase.auth().sendPasswordResetEmail(email).then(function () {
      // Password Reset Email Sent!
      // [START_EXCLUDE]
      alert('Password Reset Email Sent!');
      // [END_EXCLUDE]
    }).catch(function (error) {
      // Handle Errors here.
      var errorCode = error.code;
      var errorMessage = error.message;
      // [START_EXCLUDE]
      if (errorCode == 'auth/invalid-email') {
        alert(errorMessage);
      } else if (errorCode == 'auth/user-not-found') {
        alert(errorMessage);
      }
      console.log(error);
      // [END_EXCLUDE]
    }).finally(() => {
      updateProgressBar();
    });
    // [END sendpasswordemail];
  }

  /**
   * Updates the state of the Sign-in form.
   */
  function updateSignInFormUI() {
    if (firebase.auth().currentUser || window.confirmationResult) {
      document.getElementById('sign-in-form').style.display = 'none';
    } else {
      document.getElementById('sign-in-form').style.display = 'block';
    }
  }
  /**
   * Updates the Signed in user status panel.
   */
  function updateSignedInUserStatusUI() {
    var user = firebase.auth().currentUser;
    if (user) {
      document.getElementById('sign-in-status').textContent = 'Signed in';
      document.getElementById('account-details').innerHTML = prettyPrintJson.toHtml(user, prettyPrintJsonOptions);
      localStorage.setItem("user_account_details", JSON.stringify(user));
      if (!user.emailVerified) {
        document.getElementById('verify-email').disabled = false;
      }
    } else {
      document.getElementById('sign-in-status').textContent = 'Signed out';
      document.getElementById('account-details').textContent = 'Not Available';
      document.getElementById('verify-email').disabled = false;
      localStorage.removeItem("user_account_details");
    }
  }

  /**
   * Updates the state of the Sign out button.
   */
  function updateSignOutButtonUI() {
    if (firebase.auth().currentUser) {
      document.getElementById('sign-out-button').style.display = 'block';
    } else {
      document.getElementById('sign-out-button').style.display = 'none';
    }
  }

  function onSignOutClick() {
    // [START signout]
    firebase.auth().signOut()
    localStorage.removeItem("user_account_details");
    // [END signout]
  }

  function disableButtons() {
    var user = firebase.auth().currentUser;
    if (!user) {
      document.getElementById('verify-email').disabled = true;
      document.getElementById('copy-accessToken-button').disabled = true;
      document.getElementById('copy-refreshToken-button').disabled = true;
      document.getElementById('copy-apiKey-button').disabled = true;
      document.getElementById('user-object-button').disabled = true;
    } else {
      document.getElementById('verify-email').disabled = false;
      document.getElementById('copy-accessToken-button').disabled = false;
      document.getElementById('copy-refreshToken-button').disabled = false;
      document.getElementById('copy-apiKey-button').disabled = false;
      document.getElementById('user-object-button').disabled = false;
    }
  }

  /**
   * Registers all required event bindings
   */
  function registerEventBindings() {
    document.getElementById('sign-in').addEventListener('click', toggleSignIn, false);
    document.getElementById('sign-out-button').addEventListener('click', onSignOutClick);
    document.getElementById('sign-up').addEventListener('click', handleSignUp, false);
    document.getElementById('verify-email').addEventListener('click', sendEmailVerification, false);
    document.getElementById('password-reset').addEventListener('click', sendPasswordReset, false);
  }

  /**
   * initApp handles setting up UI event listeners and registering Firebase auth listeners:
   *  - firebase.auth().onAuthStateChanged: This listener is called when the user is signed in or
   *    out, and that is where we update the UI.
   */
  function initApp() {
    // Listening for auth state changes.
    // [START authstatelistener]
    firebase.auth().onAuthStateChanged(function (user) {
      // [START_EXCLUDE silent]
      document.getElementById('verify-email').disabled = true;
      // [END_EXCLUDE]
      if (user) {
        // User is signed in.
        var displayName = user.displayName;
        var email = user.email;
        var emailVerified = user.emailVerified;
        var photoURL = user.photoURL;
        var isAnonymous = user.isAnonymous;
        var uid = user.uid;
        var providerData = user.providerData;
      }
      // [START_EXCLUDE silent]
      document.getElementById('sign-in').disabled = false;
      updateSignedInUserStatusUI();
      updateSignInFormUI();
      updateSignOutButtonUI();
      disableButtons();
      // [END_EXCLUDE]
    });
    // [END authstatelistener]

    registerEventBindings();
  }

  window.onload = initApp;

</script>

{% endblock headScript %}
